body {
	background-image: url("../Images/red_curtains.jpg");
}
input {
	border: 5px dotted #d30004;
	border-style: groove;
	height: 33px;
	width:158px;
	background: rgba(109, 95, 95, .6);
	color:white;
	font-size: 19px;
	font-variant: small-caps; 
	font-family: monospace;
	text-shadow: -1px -1px 1px black, 1px 1px 1px black;
	margin:5px;
}

label {
	color:white;
	font-size: 19px;
	font-variant: small-caps; 
	font-family: monospace;
	text-shadow: -1px -1px 1px black, 1px 1px 1px black;
	letter-spacing: 3px;
	margin:5px;
}

ul {
	border: 7px inset #b54a48;
	color:white;
	font-size: 19px;
	font-variant: small-caps; 
	font-family: monospace;
	text-shadow: -1px -1px 1px black, 1px 1px 1px white;
	margin-top: 90px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px;

}
#subbutton {
	letter-spacing: 5px;
}

.remove {

	height: 20px;
	width: 26px;
	background: rgba(197, 198, 190, .5);
	color:#dc7c74;
	font-size:17px;
	line-height: 10px;
	text-align: center;
}
div {
	height: 669px;
	border: 4px double #b54a50;
	border-style: groove;
	margin:4px;
	padding:4px;

}
span {
	border: 7px ridge #db6b72;
	float: left;
	margin: 10px;
	margin-left:20px;

}






