<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY PAGE - personal</title>
	<link rel="stylesheet" type="text/css" href="../Public/StyleSheets/psl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../Vendors/animate.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>



<body>

<!-- ********************************************** NAVBAR ******************************************* -->
<nav id="navstyle" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-right">
      <li><div class="homeborder"><a class="fcolor" href="landingpage.html">Home</a></div></li>
      <li><a class="page-scroll fcolor" href="#personal">Personal</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Interests</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Photography</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Poetry</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Writing</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- ************************************************************************************************* -->

<div class="container push">




	<div class="row personal top-buffer">   <!-- PERSONAL ROW -->
	   <div class="col-md-6">

		   <img class="img-responsive portrait ppos1" src="../Public/Images/mehiking.jpg" alt="Responsive image">

		   <img class="img-responsive portrait ppos2" src="../Public/Images/climbing.jpg" alt="Responsive image">
           
	   </div>      <!-- END OF LEFT COLUMN -->



	   <div id="rando" class="col-md-6 ggo">

	   <p></p>

	   <h2 id="q1" class="item">"If Knowledge is Power and Ignorance is Bliss, Then Why Aren't We Happy Being Powerless?"</h2>

	   <h2 id="q2" class="item">"Believe in the Unbelievable, the Best and Worst is Always Possible."</h2>

	   <h2 id="q3" class="item">"Realize what you Have, it Could end up Being your Most Treasured Possession or the Focal Point of your Obsession."</h2>

	   <h2 id="q4" class="item">"Create your own Destiny, you are the Best at Making the World you Want to Live in and the Best at Destroying it."</h2>

	   <!-- CREATE INFINITE LOOP OF MY QUOTES!!! -->

			<!-- <div class="well about"> 
			</div> -->
		
	   </div>   <!-- END OF RIGHT COLUMN -->
		
	</div> <!-- END OF FIRST ROW - "PERSONAL" SECTION -->






	<div class="row justfortitle">
	   <div class="col-md-12">
      
      </div>
	</div>		

	<div class="row guardian top-buffer">   <!-- INTERESTS ROW -->
	  
	   <div class="col-md-3">
	    	  <h3>TOP STORIES FROM GUARDIAN NEWS</h3><!-- BUFFER COLUMN -->
	   </div>

	   <div class="col-md-9 news">
	      <ol id="newslist">
	         
	      </ol>
	   
	   </div>
    
	</div> 




	<div class="row economic top-buffer2">


		<div class="col-md-6 resultsL">
		   <form action="javascript:void(0)">

			   <label for="stuff"> Search Data By Year </label>
			   <input id="searchbox" name="name" type="text" placeholder="1929 - 2013...">
			   <input id="subbutton" type="submit" value="Search">
    

         </form>
	      <h3>United State Population Data</h3>
	      <h4 class="credit">Provided by the Bureau Of Economic Analysis</h4>

	      <ul id="popdata">
	         
	      </ul>
	   
	   </div>


	   
	   <div class="col-md-6 resultsR down">
         <h3>United State Wage Data</h3>
	      <h4 class="credit">Provided by the Bureau Of Economic Analysis</h4>
	      <ul id="wagedata">
	         
	      </ul>
	   
	   </div>


	</div>       <!-- END OF SECOND ROW - "INTERESTS" SECTION -->






	

	<div class="row photo top-buffer2">
      <h1 class="photoheader"> PHOTOGRAPHY </h1>
	   <div class="col-lg-12">
         <center>
      	<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
			   <ul class="carousel-indicators">
		           <li data-target="#carousel" data-slide-to="0" class="active"></li>
	   	           <li data-target="#carousel" data-slide-to="1"></li>
				   <li data-target="#carousel" data-slide-to="2"></li>
				   <li data-target="#carousel" data-slide-to="3"></li>
				   <li data-target="#carousel" data-slide-to="4"></li>
				   <li data-target="#carousel" data-slide-to="5"></li>
				   <li data-target="#carousel" data-slide-to="6"></li>
		      </ul>

  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">

				   <div class="item active">
				      <img src="../Public/Images/104.bmp" alt="...">
				      <div class="carousel-caption">
				       <p>Arizona Sunset</p>
				      </div>
				   </div>

				   <div class="item">
				      <img src="../Public/Images/108.bmp" alt="...">
				      <div class="carousel-caption">
				        <p>Arizona Noon</p>
				      </div>
				   </div>

				    <div class="item">
				      <img src="../Public/Images/132.bmp" alt="...">
				      <div class="carousel-caption">
				        <p>Arizona Clouds</p>
				      </div>
				   </div>

				   <div class="item">
				      <img src="../Public/Images/blueskyplane.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>Plane From SFO</p>
				      </div>
			      </div>

			      <div class="item">
				      <img src="../Public/Images/foggybend.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>King's Mountain Road, CA</p>
				      </div>
			      </div>
			      <div class="item">
				      <img src="../Public/Images/trees.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>King's Mountain Road, CA</p>
				      </div>
			      </div>
    



            </div>    <!-- END OF CAROUSEL DISPLAY -->

                                           <!-- Controls -->
			   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      <span class="sr-only">Previous</span>
			   </a>
			   <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      <span class="sr-only">Next</span>
			   </a>
			</div>
         </center>
					
		
      </div>   <!-- END OF COLUMN -->
	</div>    <!-- END OF PHOTOGRAPHY ROW -->



</div>  <!-- CONTAINER CLOSE -->

<!-- ****************************** ALL SCRIPTS ******************************* -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<!-- <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script> -->
<script type="text/javascript" src = "../Public/JavaScripts/pers.js"></script>
<script src = "../Public/JavaScripts/highlight.js"></script>	
</body>
</html>









