<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MY PAGE - personal</title>
	<link rel="stylesheet" type="text/css" href="../Public/StyleSheets/psl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../Vendors/animate.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">	
</head>



<body>

<!-- ********************************************** NAVBAR ******************************************* -->
<nav id="navstyle" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-right">
      <li><div class="homeborder"><a class="fcolor" href="landingpage.html">Home</a></div></li>
      <li><a class="page-scroll fcolor" href="#personal">Personal</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Interests</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Photography</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Poetry</a></li>
      <li><a class="page-scroll fcolor" href="#personal">Reading</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- ************************************************************************************************* -->

<div class="container push">




	<div class="row personal top-buffer">   <!-- PERSONAL ROW -->
	   <div class="col-md-6">

		   <img class="img-responsive portrait ppos1" src="../Public/Images/mehiking.jpg" alt="Responsive image">

		   <img class="img-responsive portrait ppos2" src="../Public/Images/climbing.jpg" alt="Responsive image">
           
	   </div>      <!-- END OF LEFT COLUMN -->



	   <div id="rando" class="col-md-6 ggo">

	   <p></p>

	   <h2 id="q1" class="item">"If Knowledge is Power and Ignorance is Bliss, Then Why Aren't We Happy Being Powerless?"</h2>

	   <h2 id="q2" class="item">"Believe in the Unbelievable, the Best and Worst is Always Possible."</h2>

	   <h2 id="q3" class="item">"Realize what you Have, it Could end up Being your Most Treasured Possession or the Focal Point of your Obsession."</h2>

	   <h2 id="q4" class="item">"Create your own Destiny, you are the Best at Making the World you Want to Live in and the Best at Destroying it."</h2>

	   <!-- CREATE INFINITE LOOP OF MY QUOTES!!! -->

			<!-- <div class="well about"> 
			</div> -->
		
	   </div>   <!-- END OF RIGHT COLUMN -->
		
	</div> <!-- END OF FIRST ROW - "PERSONAL" SECTION -->






	<div class="row justfortitle">
	   <div class="col-md-12">
      
      </div>
	</div>		

	<div class="row guardian top-bufferS">   <!-- INTERESTS ROW -->
	  
	   <div class="col-md-3">
	    	  <h3>TOP STORIES FROM GUARDIAN NEWS</h3><!-- BUFFER COLUMN -->
	   </div>

	   <div class="col-md-9 news">
	      <ol id="newslist">
	         
	      </ol>
	   
	   </div>
    
	</div> 




	<div class="row economic top-buffer2">


		<div class="col-md-6 resultsL">
		   <form action="javascript:void(0)">

			   <label for="stuff"> Search Data By Year </label>
			   <input id="searchbox" name="name" type="text" placeholder="1929 - 2013...">
			   <input id="subbutton" type="submit" value="Search">
    

         </form>
	      <h3>United State Population Data</h3>
	      <h4 class="credit">Provided by the Bureau Of Economic Analysis</h4>

	      <ul id="popdata">
	         
	      </ul>
	   
	   </div>


	   
	   <div class="col-md-6 resultsR down">
         <h3>United State Wage Data</h3>
	      <h4 class="credit">Provided by the Bureau Of Economic Analysis</h4>
	      <ul id="wagedata">
	         
	      </ul>
	   
	   </div>


	</div>       <!-- END OF SECOND ROW - "INTERESTS" SECTION -->






	

	<div class="row photo top-buffer2">
      <h1 class="header"> PHOTOGRAPHY </h1>
	   <div class="col-lg-12">
         <center>
      	<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
			   <ul class="carousel-indicators">
		           <li data-target="#carousel" data-slide-to="0" class="active"></li>
	   	           <li data-target="#carousel" data-slide-to="1"></li>
				   <li data-target="#carousel" data-slide-to="2"></li>
				   <li data-target="#carousel" data-slide-to="3"></li>
				   <li data-target="#carousel" data-slide-to="4"></li>
				   <li data-target="#carousel" data-slide-to="5"></li>
				   <li data-target="#carousel" data-slide-to="6"></li>
		      </ul>

  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">

				   <div class="item active">
				      <img src="../Public/Images/104.bmp" alt="...">
				      <div class="carousel-caption">
				       <p>Arizona Sunset</p>
				      </div>
				   </div>

				   <div class="item">
				      <img src="../Public/Images/108.bmp" alt="...">
				      <div class="carousel-caption">
				        <p>Arizona Noon</p>
				      </div>
				   </div>

				    <div class="item">
				      <img src="../Public/Images/132.bmp" alt="...">
				      <div class="carousel-caption">
				        <p>Arizona Clouds</p>
				      </div>
				   </div>

				   <div class="item">
				      <img src="../Public/Images/blueskyplane.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>Plane From SFO</p>
				      </div>
			      </div>

			      <div class="item">
				      <img src="../Public/Images/foggybend.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>King's Mountain Road, CA</p>
				      </div>
			      </div>
			      <div class="item">
				      <img src="../Public/Images/trees.jpg" alt="...">
				      <div class="carousel-caption">
				        <p>King's Mountain Road, CA</p>
				      </div>
			      </div>
    



            </div>    <!-- END OF CAROUSEL DISPLAY -->

                                           <!-- Controls -->
			   <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      <span class="sr-only">Previous</span>
			   </a>
			   <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      <span class="sr-only">Next</span>
			   </a>
			</div>
         </center>
					
		
      </div>   <!-- END OF COLUMN -->
	</div>    <!-- END OF PHOTOGRAPHY ROW -->





	<div class="row poetry top-buffer">  <!-- WRITING ROW -->
	<h1 class="header"> POETRY </h1>
	   <div class="col-md-2">

	         <!-- BUFFER COLUMN  LEFT-->
	      
	   </div>
	   <div class="col-md-8">
	      <div class="panel panel-default">    <!-- POETRY PIECE -->
	         <div class="panel-body">
	            <center>
	         <h3>'I Wonder'</h3>
	            
					<p>I wonder,</p>
						<p>How we all fit together and fall apart</p>
					<p>I wonder,</p> 
						<p>Where we all are and where we all have been</p>
	              </br>
					<p>But if we knew would it help us understand?</p>
	              <br>
					<p>I wonder,</p>
						<p>Why we pick one over the other</p>
					<p>I wonder,</p> 
						<p>When will we choose</p>
					  <br>
					<p>But if we knew would it help us decide?</p>
					  <br>			
					<p>I wonder,</p> 
						<p>What I am</p>
					<p>I wonder,</p>
						<p>Who I am</p>
	              <br>
					<p>But if I knew would I still know myself?</p>
	              <br>
					<p>I wonder,</p> 
						<p>If we knew,</p>
						<p>What would we think to do?</p>
	              <br>
					<p>I wonder,</p> 
						<p>If we could,</p> 
					 	<p>Would we think we should?</p>
	              <br>
					<p>I wonder,</p>
						<p>If I am</p>
						<p>Who would give a damn?</p>
               </center>
				</div>
	      </div>
	   </div>       <!-- POETRY PIECE END -->

	   <div class="col-md-2">

	         <!-- BUFFER COLUMN  LEFT-->
	      
	   </div>
 
	   </div>     
      <div class="row footer">
         
      	
      </div> <!-- POETRY SECTION END -->





      <div class="row reading top-buffer"> <!-- READING ROW -->
         <h1 class="header"> READING </h1>
         <div class="col-md-4">

		      <a href="https://books.google.com/books?id=kvpby7HtAe0C&printsec=frontcover&dq=John+Rawls+a+Theory+of+Justice&hl=en&sa=X&ei=pGjUVNWONorToATW-YDoBQ&ved=0CCgQ6AEwAA#v=onepage&q=John%20Rawls%20a%20Theory%20of%20Justice&f=false" class="thumbnail book">
		          <img src="../Public/Images/johnrawls.jpg" alt="...">
		          John Rawls - A Theory of Justice
		      </a>    <!-- RAWLS book LINK -->
		      <a href="https://books.google.com/books?id=XfsgdsJQ2kIC&dq=Thomas+Malthus+An+Essay+On+the+Principle+of+Population&hl=en&sa=X&ei=bWjUVOvdHpLUoASM3IHYDQ&ved=0CB8Q6AEwAA" class="thumbnail book">
		          <img src="../Public/Images/malthus.JPG" alt="...">
		               Thomas Malthus - An Essay on the Principle of Population
		      </a>    <!-- MALTHUS book LINK -->
		      <a href="https://books.google.com/books?id=wjBjAAAAMAAJ&printsec=frontcover&dq=David+Ricardo+On+the+Principles+of+Political+Economy,+and+Taxation&hl=en&sa=X&ei=B2jUVN2mCZPqoATogoLYDQ&ved=0CB8Q6AEwAA#v=onepage&q=David%20Ricardo%20On%20the%20Principles%20of%20Political%20Economy%2C%20and%20Taxation&f=false" class="thumbnail book">
		          <img src="../Public/Images/ricardo.jpg" alt="...">
		            David Ricardo - On The Principles of Political Economy, and Taxation
		      </a>    <!-- RICARDO book LINK -->

         </div>

    <div class="col-md-4">
      <div class="well large">
      	These are some of the most famous works by my favorite thinkers. They are philosophers, political economists, scientists and statiticians who all had a passion for thinking about how people interact with one another on the most base level. None of these works are a 'light' read however they all have particular sections you can read in a few hours that give amazing insight into the human condition.
      </div>
     
    </div>

    <div class="col-md-4 ">
      <a href="https://books.google.com/books?id=0bU0xDHVAQ8C&printsec=frontcover&dq=the+wealth+of+nations+adam+smith&hl=en&sa=X&ei=RGfUVKylN46oogT-iYKwDQ&ved=0CDAQ6AEwAw#v=onepage&q=the%20wealth%20of%20nations%20adam%20smith&f=false" class="thumbnail book">
          <img src="../Public/Images/smith.jpg" alt="...">
          Adam Smith - The Wealth of Nations
      </a>    <!-- SMITH SEARCH book LINK -->
      <a href="https://books.google.com/books?id=eEoyK7ZCXjsC&printsec=frontcover&dq=the+least+dangerous+branch&hl=en&sa=X&ei=XWTUVPyNKJG0ogSajICYBQ&ved=0CB8Q6AEwAA#v=onepage&q=the%20least%20dangerous%20branch&f=false" class="thumbnail book">
          <img src="../Public/Images/bickel.jpg" alt="...">
               Alexander Bickel - The Least Dangerous Branch
      </a>    <!-- BICKEL book LINK -->
      <a href="https://books.google.com/books?id=MH5TPgAACAAJ&dq=anarchy+state+utopia&hl=en&sa=X&ei=xmPUVP-WA4SuogSaw4HYCA" class="thumbnail book">
          <img src="../Public/Images/nozick.jpg" alt="...">
          Robert Nozick - Anarchy, State, Utopia
      </a>    <!-- Nozick book LINK-->
      
    </div>

  </div>  <!-- END OF FIRST ROW - "WEB PORTFOLIO" SECTION --> 

  











</div>  <!-- CONTAINER CLOSE -->

<!-- ****************************** ALL SCRIPTS ******************************* -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<!-- <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/fancybox/jquery.easing-1.4.pack.js"></script> -->
<script type="text/javascript" src = "../Public/JavaScripts/pers.js"></script>
<script src = "../Public/JavaScripts/highlight.js"></script>	
</body>
</html>









